.container {
  margin-top: 150px;
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 30px;
}

.line {
  margin-bottom: 20px;
}
p {
  font-size: 15px;
}

mat-expansion-panel{
  width: 60%;
  margin-top: 20px;
  background-color: rgba(155,221,255,0.9);
}

.col1{
  width: 60%;
}

.col2{
  width: 10%;
}
.row{
  margin-top: 20px;
}

.addStudent{
  margin-left: 100px;
}
