.container {
    background-color: rgba(155, 221, 255, 0.6);
    border-radius: 50px;
    margin-top: 100px;
    margin-left: 50px;
    width: 800px;
    padding: 35px;
    line-height: 1.5;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0 !important;
}

.full-width {
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.txt-right {
    text-align: right;
}

ol.list-style {
    padding: 0;
    list-style: none inside none;
    counter-reset: item;
}

ol.list-style>li {
    position: relative;
    border-radius: 20px;
    background-color: rgba(192, 243, 254, 0.4);
    padding: 24px;
    margin-bottom: 16px;
    counter-increment: item;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

ol.list-style>li .poll-remove-btn {
    position: absolute;
    top: -10px;
    right: -10px;
}

ol.list-style>li:before {
    content: counter(item);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(155, 221, 255, 1);
    border-radius: 20px 1px;
    color: rgba(0, 0, 0, 0.5);
    width: 30px;
    font-size: 14px;
    padding: 3px;
    text-align: center;
    display: inline-block;
}

.link-title {
    text-decoration: none;
    color: #001689;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.mat-card {
    background-color: transparent;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 15px;
}

.button-row {
    margin-top: 20px;
}

li {
    list-style-type: none;
}