.container{
  width: 1000px;
  height: 300px;
  background-color: rgba(155,221,255, 0.6);
  border-radius: 50px;
  margin-top: 260px;
  margin-left: 50px;
  font-size: 30px;
  padding: 35px;
  line-height: 1.5;
}
