.container {
    width: 1000px;
    height: 350px;
    background-color: rgba(155, 221, 255, 0.6);
    border-radius: 50px;
    margin-top: 200px;
    margin-left: 50px;
    font-size: 20px;
    padding: 35px;
    line-height: 1.5;
}

input {
    margin-top: 20px;
}

#loginButton {
    width: 120px;
    font-size: 20px;
}


#titleLogin {
    font-size: 30px;
}

.row {
    margin-top: 20px;
}

.alert{
  margin-top: 10px;
}

