li {
  list-style-type: none;
}

.col1{
  width: 80%;
}

.col2{
  width: 20%;
}

.container{
  margin: 10px;
}

.mat-dialog-content {
  overflow: hidden;
}

.buttons, h2{
  margin-top: 15px;
}

mat-checkbox, p {
  font-size: 15px;
}
