<div class="container">
  <h2>Your quizzes</h2>
  <div *ngIf="quizzesList.length === 0 && quizzesListStudent.length===0" class="empty">
    There are no quizzes.
  </div>
  <div *ngIf="quizzesList" class="row">
    <ng-container *ngFor="let quiz of quizzesList; let i = index">
      <mat-card class="col-4 example-card" style="width: 18rem; font-size: 17px">
        <mat-card-header>
          <mat-card-title>{{quiz.title}}</mat-card-title>
          <mat-card-subtitle>{{transformDateToString(quiz.startTime)}}</mat-card-subtitle>
          <mat-card-subtitle>Total Score: {{quiz.totalScore}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <mat-slide-toggle color="primary" [checked]="quiz.resultsVisible"
            (change)="changeToggle($event, quiz.id)">Results
            Visibility</mat-slide-toggle>
          <div class="column">
            <button type="button" class="btn btn-primary" (click)="editQuiz(quiz.id, quiz.startTime)"
              *ngIf="quizStarted(quiz.startTime)">View</button>
            <button type="button" class="btn btn-primary" (click)="editQuiz(quiz.id, quiz.startTime)"
              *ngIf="!quizStarted(quiz.startTime)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="openDialog(quiz.id)">Delete</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>

  <div *ngIf="quizzesListStudent" class="row">
    <ng-container *ngFor="let quiz of quizzesListStudent; let i = index">
      <mat-card class="col-4 example-card" style="width: 18rem; font-size: 17px">
        <mat-card-header>
          <mat-card-title>{{quiz.title}}</mat-card-title>
          <mat-card-subtitle *ngIf="quiz.isTaken">Quiz submitted</mat-card-subtitle>
          <mat-card-subtitle>Start time: {{transformDateToString(quiz.startTime)}}</mat-card-subtitle>
          <mat-card-subtitle>Total Possible Score: {{quiz.totalScore}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="quiz.resultsVisible">Score: {{ quiz.result }}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!quiz.resultsVisible">Results unavailable</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <div class="column">
            <button type="button" class="btn btn-primary" (click)="takeQuiz(quiz.id)"
              [disabled]="quiz.resultsVisible || !quizStarted(quiz.startTime) || quiz.isTaken">Take Quiz</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>